@font-face {
    font-family: "CambriaMath";
    src:
        url("./assets/fonts/CambriaMath/CambriaMath.woff") format("woff"),
        url("./assets/fonts/CambriaMath/CambriaMath.woff2") format("woff2"),
        url("./assets/fonts/CambriaMath/CambriaMath.ttf") format("opentype")
}

@font-face {
    font-family: "Monteseratt";
    src:
        url("./assets/fonts/Montserrat/Montserrat.woff") format("woff"),
        url("./assets/fonts/Montserrat/Montserrat.woff2") format("woff2"),
        url("./assets/fonts/Montserrat/Montserrat.ttf") format("opentype")
}

body {
    font-family: CambriaMath, sans-serif;
}
